<form action="/random/result">
  <label for="minimum_entry">Minimum</label>
  <div><input id="minimum_entry" name="user_min" placeholder="E.g. 1.5"></div>

  <div><label for="maximum_entry">Maximum</label></div>
  <div><input id="maximum_entry" name="user_max" placeholder ="E.g. 4.5"></div>

  <div><button>Pick random number</button></div>
</form>
