<form action="/square/result">
  <label for="square_entry">Enter a number</label>
  <div><input id="square_entry" name ="user_square" placeholder="What number do you want to square?"></div>

  <div><button>Calculate square</button></div>
</form>
  
