<form action="/payment/result">
  <label for="apr_entry">APR</label>
  <input id="apr_entry" name="apr" placeholder="E.g. 5.42">

  <div>
  <label for="years_entry">Number of years</label>
  <input id="years_entry" name="years" placeholder="How many years to repay?">
  </div>

  <div>
  <label for="principal_entry">Principal</label>
  <input id="principal_entry" name="principal" placeholder="How much principal?">
  </div>

  <div><button>Calculate monthly payment</button></div>
</form>
