<form action="/square_root/result">
  <label for="root_entry">Enter a number</label>
  <input id="root_entry" name="user_root" placeholder="What number do you want to take the square root of?">

  <div><button>Calculate square root</button></div>
</form>
